<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my first professional webpage</title>
    <style>
      .subscribe-bit {
        border-color: rgba(0, 0, 98, 0.89);
        color: aqua;
        border-radius: 23px;
        width: 36px;
        height: 37px;
        margin-left: 11px;
        font-size: small;
        cursor: pointer;
      }
      .join-bit {
        border-color: rgba(88, 98, 0, 0.89);
        color: rgb(128, 0, 6);
        border-radius: 2cm;
        width: 38px;
        font-size: larger;
        height: 33px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>welcome to my tech page</h1>
    <p>please help my channel by clicking the button below:</p>

    <button class="subscribe-bit">SUBSCRIBE</button>
    <button class="jion-bit">JION</button>
  </body>
</html>
