@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--bg);
  --color-foreground: var(--text);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-card: var(--card);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

:root {
  --bg: #ffffff;
  --text: #111111;

  --primary: #22c55e;
  --primary-foreground: #ffffff;

  --secondary: #6b7280;
  --secondary-foreground: #ffffff;

  --accent: #22c55e;
  --accent-foreground: #ffffff;

  --muted: #ededed;
  --muted-foreground: #6b7280;

  --border: #e6e6e6;
  --card: #ffffff;

  --success: #22c55e;
  --warning: #f59e0b;
  --error: #ef4444;
}

.dark {
  background-color: #010101;
  color: #ffffff;

  --bg: #01082d;
  --text: #e5e7eb;

  --primary: #039eff;
  --primary-foreground: #0d0d0d;

  --secondary: #334155;
  --secondary-foreground: #e5e7eb;

  --accent: #a78bfa;
  --accent-foreground: #0d0d0d;

  --muted: #2e3c4f;
  --muted-foreground: #9ca3af;

  --border: #5b5b5b;
  --card: #282829;

  --success: #4ade80;
  --warning: #fbbf24;
  --error: #f87171;
}

@media screen and (min-width: 400px) {
  .members-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.loader-animation::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: gray;

  animation: loader-animation 1s linear infinite;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  position: relative;
  overflow: hidden;
}

.animate-shimmer::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 20%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.6s infinite ease-out;
  content: "";
}
