@import "tailwindcss";

.animate {
  background-size: 200% 100%;

  animation: animate 2s linear infinite;
  background-image: linear-gradient(
    90deg,
    rgb(244, 242, 242),
    /* bumped opacity slightly to see it better */ transparent
  );
}

@keyframes animate {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
